@import '../../variables.scss';
@import '../../mixins.scss';

.mainScreenContainer {
    margin-top: 60px;
}

.mainScreen {
    position: relative;
}

.buttons {
    display: flex;
    justify-content: center;

    button {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.contracts {
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learnMoreContainer {
    margin-bottom: 200px;
}

.string {
    position: absolute;

    &.first {
        top: 150px;
        left: 0;
    }

    &.second {
        right: 0;
        bottom: 200px;
    }
}

.connectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;

    a {
        display: inline-block;
        margin-top: 30px;
        @include colorTextWithGradient(54deg, $startColorGradient, $endColorGradient);
    }
}